.checkbox {
	position: relative;
	padding: 0px 3px;
	width: 100%;
	margin: 0px 0px 32px 0px;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:before {
			background: $red;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			flex: 0 0 13px;
			width: 13px;
			height: 13px;
			border-radius: 2px;
			background-color: #fff;
			border: 1px solid $red;
		}
	}
	// .checkbox__text
	&__text {
		font-size: 15px;
		color: #000000;
		font-weight: 400;
	}
}
